/*------- Search section -------*/
.all-products
{
	margin: 40px 0;
	font-size: 40px;
	font-weight: 700;
}
/*------- Book-list section -------*/
.row
{
	margin: 30px 0;
}
.img-fluid
{
	box-shadow: 5px -5px 8px #888888;
	border-radius: 3%;
}
.book-animated
{
	position:relative;
}
.overlay
{	
	justify-content: flex-end;
	position: absolute;
	left: 0;
	bottom: 0;
	right: 0;
	background-image: linear-gradient(to top, #fddb92 0%, #d1fdff 100%);
	border-radius: 3%;
	overflow: hidden;
	height: 0;
	width: 100%;
	transition: .5s ease;
}
.book-animated:hover .overlay
{	
	height: 100%;
	opacity: .5;
}
.book-animated:hover
{
	transform: translateY(-10px);
	transition: .5s ease;
}
